%table.table.table-hover.table-bordered.mt-3.text-center
 %thead
  %tr
   %th{scope: "col"} Nome
   %th{scope: "col"} Email
   %th{scope: "col"} Ações
 %tbody
  - @friends.each do |friend|
   %tr
    %td 
     = friend.full_name
    %td
     = friend.email
    %td
     = link_to  user_path(friend), class: "btn btn-sm btn-outline-primary me-2" do
      = fa_icon 'eye'
      Ver Perfil
     = link_to "Parar de Seguir", friendship_path(friend), method: :delete, class: "btn btn-sm btn-warning", data: {confirm: "Tem certeza que deseja remover?"}
            
     