<div class="row">
  <div class="col-9">
    <%= render 'layouts/messages' %>
  </div>
</div>
<% if @friends %>
  <div class="row">
    <div class="col-9">
      <% @friends.each do |friend| %>
        <div class="card mt-4">
          <div class="card-header d-flex justify-content-between">
            <div class="">
              <strong>Nome:</strong> <%= friend.full_name %>
            </div>
            <div class="">
              <strong>Email:</strong> <%= friend.email %>
            </div>
            <div>
              <%= link_to  friends_path(friend), class: "btn btn-sm btn-outline-primary" do %>
                <%= fa_icon 'eye' %>
                Ver Perfil
              <% end %>
              <% if current_user.not_friends?(friend.id) %>
                <%= link_to friendships_path(friend: friend), method: :post, class: "btn btn-sm btn-outline-success" do %>
                  <%= fa_icon 'user-plus' %>
                  Seguir
                <% end %>
              <% else %>
                <button class="btn btn-sm btn-outline-secondary" disabled>
                  <%= fa_icon 'user-plus' %>
                  Seguir
                </button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
