<div class="row">
  <div class="col-9">
    <%= render 'layouts/messages' %>
  </div>
</div>
<% if @stock %>
  <div class="row">
    <div class="col-9">
      <div class="card mt-4">
        <h5 class="card-header">
          Codigo: <%= @stock.ticker.upcase %>
        </h5>
        <div class="card-body">
          <h5 class="card-title">
            Nome da Empresa: <%= @stock.name %>
          </h5>
          <p class="card-text">
            Valor da Ação: US$<%= @stock.last_price.to_f.round(5) %>
          </p>
          <img src=<%= "https://storage.googleapis.com/iex/api/logos/#{@stock.ticker.upcase}.png" %> alt="ddd">
        </div>
      </div>
    </div>
  </div>
<% end %>
