<% if !@user_stock %>
  <div class="row">
    <div class="col-9">
      <%= render 'layouts/messages' %>
    </div>
  </div>
<% end %>
<% if @stock %>
  <div class="row">
    <div class="col-9">
      <div class="card mt-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="pt-2">
            Codigo: <%= @stock.ticker.upcase %>
          </h5>
          <% if current_user.can_track_stock?(@stock.ticker) %>
            <%= link_to user_stocks_path(user: current_user, ticker: @stock.ticker), remote: true, class: "btn btn-outline-dark", method: :post do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
              Adicionar
            <% end %>
          <% else %>
            <span class="badge bg-secondary">
              Você já segue
              <% if !current_user.under_stock_limit? %>
                10 ações
              <% end %>
              <% if current_user.stock_already_tracked?(@stock.ticker) %>
                esta ação
              <% end %>
            </span>
          <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Nome da Empresa: <%= @stock.name %>
          </h5>
          <p class="card-text">
            Valor da Ação: US$<%= @stock.last_price.to_f.round(5) %>
          </p>
          <img src=<%= "https://storage.googleapis.com/iex/api/logos/#{@stock.ticker.upcase}.png" %> alt="ddd">
        </div>
      </div>
    </div>
  </div>
<% end %>
