%h1.mt-3 Meu Portfolio
%hr
.search-area
 %h3.mb-3 Procurar Ações
= form_tag search_stock_path, remote: true, method: :get do
 .form-group.row
  .col-sm-9.me-0.pe-0
   = text_field_tag :stock, params[:stock], placeholder: "Codigo da ação", autofocus: true, class: "form-control form-control-lg"
  .col-sm-3.ms-0.ps-0
   = button_tag class: "btn btn-success text-white" do 
    = fa_icon 'search 2x'

#results.mb-0.mt-0

- if !@tracked_stocks.empty?
 = render 'users/table'
- else
 %h5.fw-normal.mt-3 Você não está rastreando nenhuma ação